[submodule "MelonPan/synths/WaveSabre"]
	path = MelonPan/synths/WaveSabre
	url = https://github.com/logicomacorp/WaveSabre.git
[submodule "MelonPan/synths/64klang"]
	path = MelonPan/synths/64klang
	url = https://github.com/gopher-atz/64klang.git
