{
    // Use IntelliSense to learn about possible attributes.
    // Hover to view descriptions of existing attributes.
    // For more information, visit: https://go.microsoft.com/fwlink/?linkid=830387
    "version": "0.2.0",
    "configurations"    : [
        {
            "name"      : "Debug Editor",
            "type"      : "debugpy",
            "request"   : "launch",
            "program"   : "${workspaceFolder}/SqrMelonFx/plugin_host_app.py",
            "console"   : "integratedTerminal",
            "justMyCode": false,
            "env"       : {
                "PYTHON_ENV": "development"
            },
            "args"      : [
                "--silent-plugin-exc",
                "-p\"${workspaceFolder}/SqrMelonFx/minimal_plugins\"",
                "-p\"${workspaceFolder}/SqrMelonFx/editor/plugins\""
            ],
            "envFile"   : "${workspaceFolder}/.env"
        },
        {
            "name"      : "Profile Editor",
            "type"      : "debugpy",
            "request"   : "launch",
            "program"   : "${workspaceFolder}/SqrMelonFx/plugin_host_app.py",
            "console"   : "integratedTerminal",
            "justMyCode": true,
            "env": {
                "PYTHON_ENV": "production"
            },
            "args"      : [
                "--qcachegrind",
                "-p\"${workspaceFolder}/SqrMelonFx/minimal_plugins\"",
                "-p\"${workspaceFolder}/SqrMelonFx/editor/plugins\""
            ],
            "envFile"   : "${workspaceFolder}/.env"
        },
        {
            "name"      : "Editor",
            "type"      : "debugpy",
            "request"   : "launch",
            "program"   : "${workspaceFolder}/SqrMelonFx/plugin_host_app.py",
            "console"   : "integratedTerminal",
            "justMyCode": true,
            "env": {
                "PYTHON_ENV": "production"
            },
            "args"      : [
                "-p\"${workspaceFolder}/SqrMelonFx/minimal_plugins\"",
                "-p\"${workspaceFolder}/SqrMelonFx/editor/plugins\""
            ],
            "envFile"   : "${workspaceFolder}/.env"
        }
    ]
}
